.company-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.company-content {
    width: calc(100% - 70px);
    height: calc(100% - 55px);
    position: fixed;
    right: 0;
    bottom: 0;
}