.client-profileoverview-main {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.client-profileoverview-inner {
    background-color: #ffffff;
    padding: 2.5em;
    flex-grow: 1;
    margin: 0 4em;
    margin-top: 3.5em;
    border-radius: 30px 30px 0 0;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    display: grid;
    grid-template-areas:
        "dp title btn"
        "des des des";
    row-gap: 0.5em;
    column-gap: 1em;
    font-family: 'poppins';
    overflow: hidden;
    overflow: scroll;
}

.client-profileoverview-inner-dp {
    grid-area: dp;
    width: 5em;
}

.client-profileoverview-inner-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    font-weight: 500;
}

.client-profileoverview-inner-time {
    font-size: small;
    font-weight: 400;
    color: gray;
}

.client-profileoverview-inner-threedot {
    grid-area: btn;
    font-weight: bolder;
    cursor: pointer;
    font-size: large;
}

.client-profileoverview-inner-des {
    grid-area: des;
    margin-left: 1.5em;
    font-family: 'poppins';
}

.client-profileoverview-inner-des-head {
    font-size: medium;
    font-weight: 500;
    margin-top: 1.5em;
}

.client-profileoverview-inner-des-subtxt {
    font-size: smaller;
    margin-top: 0.2em;
    text-wrap: wrap;
}

.client-profileoverview-inner-des-subhead {
    font-style: italic;
    font-family: 'outfit';
    color: rgb(103, 103, 103);
    margin-right: 0.5em;
}

/* ---------------------------------------------OnCoOverview--------------------------------------------- */
.client-oncooverview-main {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: grid;
    grid-template-rows: auto 50%;
    grid-template-columns: auto 30%;
    grid-template-areas:
        "long box1"
        "long box2";
    padding: 1em;

}

.client-oncooverview-inner {
    grid-area: long;
    margin: 1em;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.client-oncooverview-inner:hover {
    scale: 1.015;
}

.client-oncooverview-side {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 0.3em;
    font-family: 'poppins', serif;
    transition-duration: 0.2s;
}

.client-oncooverview-side:hover {
    scale: 1.015;
}

.client-profileoverview-side-dp {
    width: 5em;
    margin-bottom: 1em;
}

.client-oncooverview-side-head {
    font-size: large;
    font-weight: 600;
}

.client-oncooverview-side-type {
    font-size: medium;
    font-weight: 500;
    color: #606060;
}

.side1 {
    grid-area: box1;
    margin-bottom: 0.5em;
}

.side2 {
    grid-area: box2;
    gap: 0;
    margin-top: 0.5em;
}

.client-oncooverview-side-emoji {
    font-size: 3rem;
    transition-duration: 0.1s;
}

.client-oncooverview-side:hover .client-oncooverview-side-emoji {
    scale: 1.5;
}

.client-oncooverview-side-subtxt {
    width: 80%;
    font-size: small;
    color: #606060;
    text-wrap: wrap;
    text-align: center;
}

.client-oncooverview-side-deadline {
    font-size: medium;
    color: #606060;
    font-weight: 500;
    text-align: center;
}

.client-oncooverview-side-enddate {
    font-size: large;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
}

.client-oncooverview-side-chatbtn {
    margin-top: 1em;
    display: flex;
    align-items: center;
    padding: 0.5em 1.3em;
    border-radius: 30px;
    outline: 1px dashed #000000;
    gap: 0.5em;
    font-size: small;
    cursor: pointer;
    transition-duration: 0.2s;
}

.client-oncooverview-side-chatbtn:hover {
    background-color: #000000;
    color: #ffffff;
}

.add-review-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
}

.add-review-inner {
    padding: 2em;
    background-color: aliceblue;
    border-radius: 12px;
}

.add-review-txt {
    font-family: 'outfit';
    margin-bottom: 0.5em;
    font-size: larger;
    color: #000000;

    span {
        padding: 0.1em;
        background-color: #5509a783;
        color: white;
    }

   

}

.review-star-container {
    display: flex;
    gap: 0.2em;
}

.review-star {
    font-size: xx-large;
    cursor: pointer;
    color: #e7c817;
}

.review-input {
    resize: none;
    height: 7em;
    width: 20rem;
    outline: 1px dashed rgb(153, 153, 153);
    border: 0;
    border-radius: 10px;
    padding: 1em;
}
.review-btn-container{
    width: 100%;
    display: flex;
    gap: 0.5em;
}
.review-submit , .review-cancel {
    flex-grow: 1;
    padding: 0.5em 0;
    background-color: #b942f1;
    font-family: 'outfit';
    border-radius: 7px;
    margin-top: 0.5em;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition-duration: 0.3s;

}
.review-cancel{
    background-color: #7a7a7a;
}
.review-cancel:hover {
    background-color: #ff1c1c;
}
.review-submit:hover {
    background-color: #651d87;
}