:root {
  --color-text: #fff;
  --color-front: hsl(250deg, 100%, 40%);
  --color-back: hsl(252deg, 100%, 60%);
}

.client-profileoverview-main {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.client-profileoverview-inner {
  background-color: #ffffff;
  padding: 2.5em;
  flex-grow: 1;
  margin: 0 4em;
  margin-top: 3.5em;
  border-radius: 30px 30px 0 0;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  display: grid;
  grid-template-areas:
    "dp title btn"
    "des des des";
  row-gap: 0.5em;
  column-gap: 1em;
  font-family: "poppins";
  overflow: hidden;
  overflow: scroll;
}

.client-profileoverview-inner-dp {
  grid-area: dp;
  width: 5em;
}

.client-profileoverview-inner-title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  font-weight: 500;
}

.client-profileoverview-inner-time {
  font-size: small;
  font-weight: 400;
  color: gray;
}

.client-profileoverview-inner-threedot {
  grid-area: btn;
  font-weight: bolder;
  cursor: pointer;
  font-size: large;
}

.client-profileoverview-inner-des-file {
  p a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 6px;
    clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
    background: var(--color-front);
    padding: 10px 30px;
    margin: 0 8px;
    font-weight: 400;
    font-size: 15px;
    color: var(--color-text);
    transition: clip-path 500ms;
  }
  p a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: var(--color-back);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 6px 0;
    transition: transform 500ms;
  }
  p a:hover {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
  }

  p a:hover:after {
    transform: translate(-100%, -100%);
  }
}
.client-oncooverview-side-texxt {
  padding: 20px 0;
  font-size: 16px;
}
.client-profileoverview-inner-des-tags {
  display: flex;
  .job-tag-seps {
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #eeeeee;
  }
}

.client-profileoverview-inner-side-byside {
  display: flex;
  div {
    padding-right: 30px;
  }
}

.client-profileoverview-inner-des {
  grid-area: des;
  margin-left: 1.5em;
  font-family: "poppins";
}

.client-profileoverview-inner-des-head {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1.5em;
  padding-bottom: 0.25em;
}

.client-profileoverview-inner-des-subtxt {
  font-size: 1.1em;
  margin-top: 0.2em;
  text-wrap: wrap;
}

.client-profileoverview-inner-des-subhead {
  font-style: italic;
  font-family: "outfit";
  color: rgb(103, 103, 103);
  margin-right: 0.5em;
}

/* ---------------------------------------------OnCoOverview--------------------------------------------- */
.client-oncooverview-main {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto 50%;
  grid-template-columns: auto 30%;
  grid-template-areas:
    "long box1"
    "long box2";
  padding: 1em;
}

.client-oncooverview-inner {
  grid-area: long;
  margin: 1em;
  border-radius: 20px;
  transition-duration: 0.2s;
}

.client-oncooverview-inner:hover {
  scale: 1.015;
}

.client-oncooverview-side {
  background-color: #ffffff;
  padding: 1em;
  margin: 1em;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  gap: 0.3em;
  font-family: "poppins", serif;
  transition-duration: 0.2s;
}

.client-oncooverview-side:hover {
  scale: 1.015;
}

.client-profileoverview-side-dp {
  width: 5em;
  border-radius: 50%;
  margin-bottom: 1em;
}

.client-oncooverview-side-head {
  font-size: large;
  font-weight: 600;
}

.client-oncooverview-side-type {
  font-size: medium;
  font-weight: 500;
  color: #606060;
}

.side1 {
  grid-area: box1;
  margin-bottom: 0.5em;
}

.side2 {
  grid-area: box2;
  gap: 0;
  margin-top: 0.5em;
}

.client-oncooverview-side-emoji {
  font-size: 3rem;
  transition-duration: 0.1s;
}

.client-oncooverview-side:hover .client-oncooverview-side-emoji {
  scale: 1.5;
}

.client-oncooverview-side-subtxt {
  width: 80%;
  font-size: small;
  color: #606060;
  text-wrap: wrap;
  text-align: center;
}

.client-oncooverview-side-deadline {
  font-size: medium;
  color: #606060;
  font-weight: 500;
  text-align: center;
}

.client-oncooverview-side-enddate {
  font-size: large;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
}

.client-oncooverview-side-chatbtn {
  margin-top: 1em;
  display: flex;
  align-items: center;
  padding: 0.5em 1.3em;
  border-radius: 30px;
  outline: 1px dashed #000000;
  gap: 0.5em;
  font-size: small;
  cursor: pointer;
  transition-duration: 0.2s;
}

.client-oncooverview-side-chatbtn:hover {
  background-color: #000000;
  color: #ffffff;
}

.add-review-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.3px);
  -webkit-backdrop-filter: blur(17.3px);
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.add-review-inner {
  padding: 2em;
  background-color: aliceblue;
  border-radius: 12px;
}

.add-review-txt {
  font-family: "outfit";
  margin-bottom: 0.5em;
  font-size: larger;
  color: #000000;

  span {
    padding: 0.1em;
    background-color: #5509a783;
    color: white;
  }
}

.review-star-container {
  display: flex;
  gap: 0.2em;
}

.review-star {
  font-size: xx-large;
  cursor: pointer;
  color: #e7c817;
}

.review-input {
  resize: none;
  height: 7em;
  width: 20rem;
  outline: 1px dashed rgb(153, 153, 153);
  border: 0;
  border-radius: 10px;
  padding: 1em;
}
.review-btn-container {
  width: 100%;
  display: flex;
  gap: 0.5em;
}
.review-submit,
.review-cancel {
  flex-grow: 1;
  padding: 0.5em 0;
  background-color: #b942f1;
  font-family: "outfit";
  border-radius: 7px;
  margin-top: 0.5em;
  color: white;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.review-cancel {
  background-color: #7a7a7a;
}
.review-cancel:hover {
  background-color: #ff1c1c;
}
.review-submit:hover {
  background-color: #651d87;
}
