:root {
  --color-text: #fff;
  --color-front: hsl(250deg, 100%, 40%);
  --color-back: hsl(252deg, 100%, 60%);
}

.client-profileoverview-main {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.client-profileoverview-inner {
  height: auto;
  background-color: #ffffff;
  padding: 2.5em;
  margin: 0 4em;
  margin-top: 3.5em;
  border-radius: 30px 30px 0 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "dp title btn"
    "des des des";
  row-gap: 0.5em;
  column-gap: 1em;
  font-family: "poppins";
  overflow: hidden;
}

.client-profileoverview-inner-dp {
  grid-area: dp;
  width: 5em;
}

.client-profileoverview-inner-title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  font-weight: 500;
}

.client-profileoverview-inner-threedot {
  grid-area: btn;
  font-weight: bolder;
  cursor: pointer;
  font-size: large;
}

.client-profileoverview-inner-des {
  grid-area: des;
  margin-left: 1.5em;
  font-family: "poppins";
}

.client-profileoverview-inner-des-head {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1.5em;
  padding-bottom: 0.25em;
}

.client-profileoverview-inner-des-subtxt {
  font-size: 1.1em;
  margin-top: 0.2em;
}

.client-profileoverview-inner-des-subhead {
  font-style: italic;
  font-family: "outfit";
  color: rgb(103, 103, 103);
  margin-right: 0.5em;
}

.client-profileoverview-inner-des-file p a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
  background: var(--color-front);
  padding: 10px 30px;
  margin: 0 8px;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-text);
  transition: clip-path 500ms;
}

.client-profileoverview-inner-des-file p a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: var(--color-back);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 0;
  transition: transform 500ms;
}

.client-profileoverview-inner-des-file p a:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

.client-profileoverview-inner-des-file p a:hover:after {
  transform: translate(-100%, -100%);
}

.client-profileoverview-inner-des-tags {
  display: flex;
  flex-wrap: wrap;
}
.client-profileoverview-inner-des-tags .job-tag-seps {
  padding: 5px;
  margin: 5px 5px 0 0;
  border-radius: 5px;
  background-color: #eeeeee;
}

.client-profileoverview-inner-side-byside {
  display: flex;
  flex-wrap: wrap;
}
.client-profileoverview-inner-side-byside div {
  padding-right: 30px;
}

/* --------------------------------------------- OnCoOverview --------------------------------------------- */
.client-oncooverview-main {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto 50%;
  grid-template-columns: auto 30%;
  grid-template-areas:
    "long box1"
    "long box2";
  padding: 1em;
}

.client-oncooverview-inner {
  grid-area: long;
  margin: 1em;
  border-radius: 20px;
  transition-duration: 0.2s;
}

.client-oncooverview-inner:hover {
  scale: 1.015;
}

.client-oncooverview-side {
  background-color: #ffffff;
  padding: 1em;
  margin: 1em;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  gap: 0.3em;
  font-family: "poppins", serif;
  transition-duration: 0.2s;
}

.client-oncooverview-side:hover {
  scale: 1.015;
}

.client-profileoverview-side-dp {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin-bottom: 1em;
  object-fit: cover;
}

.client-oncooverview-side-head {
  font-size: large;
  font-weight: 600;
}

.client-oncooverview-side-type {
  font-size: medium;
  font-weight: 500;
  color: #606060;
}

.side1 {
  grid-area: box1;
}

.side2 {
  grid-area: box2;
}

.client-oncooverview-side-emoji {
  font-size: 3rem;
  transition-duration: 0.1s;
}

.client-oncooverview-side:hover .client-oncooverview-side-emoji {
  scale: 1.5;
}

.client-oncooverview-side-subtxt {
  width: 80%;
  font-size: small;
  color: #606060;
  text-align: center;
}

.client-oncooverview-side-deadline {
  font-size: medium;
  color: #606060;
  font-weight: 500;
  text-align: center;
}

.client-oncooverview-side-enddate {
  font-size: large;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
}

.client-oncooverview-side-chatbtn,
.complete-btn {
  margin: 1em 0;
  display: flex;
  align-items: center;
  padding: 0.5em 1.3em;
  border-radius: 30px;
  outline: 1px dashed #0b0b45;
  gap: 0.5em;
  font-size: large;
  cursor: pointer;
  transition-duration: 0.2s;
}

.client-oncooverview-side-chatbtn:hover,
.complete-btn:hover {
  background-color: #0b0b45;
  color: #ffffff;
}

/* --------------------------------------------- Responsive --------------------------------------------- */
@media (max-width: 1024px) {
  .client-profileoverview-inner {
    margin: 0 2em;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "dp title"
      "des des";
  }
  .client-profileoverview-inner-threedot {
    justify-self: end;
  }

  .client-oncooverview-main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "long"
      "box1"
      "box2";
  }
}

@media (max-width: 768px) {
  .client-profileoverview-inner {
    margin: 0 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
      "dp"
      "title"
      "des";
  }
  .client-profileoverview-inner-title {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .client-profileoverview-inner {
    padding: 1em;
  }
  .client-oncooverview-side {
    padding: 0.5em;
  }
}
