.successmgs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-top: 5em;
    padding-right: 1em;

    .successmgs-conatainer {
        padding-right: 1em;
        /* width: 300px;
        height: 80px; */
        background-color: white;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;

        span {
            background-color: green;
            width: 10px;
        }

        .mgs {
            display: flex;
            align-items: center;
            padding-left: 2em;
            gap: 2em;
            font-family: poppins;

            img {
                margin: 0.5em 0;
            }
        }
    }
}