.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    width: calc(100vw - 260px);
    height: calc(100vh - 55px);
    position: fixed;
    right: 0;
    bottom: 0;
}

@media (max-width:1100px) {
    .content{
        width: 100vw;
        position: relative;
    }
}