@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-color: #001f54;
  --secondary-color: #00337a;
  --light-gray: #f4f7f9;
  --medium-gray: #d0d0d0;
  --dark-gray: #333;
  --text-color: #333;
  --white-color: #ffffff;
  --danger-color: #d9534f;
  --success-color: #5cb85c;
  --border-radius: 12px;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
