.clientreg-container {
  width: calc(100vw - 260px);
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
  margin-top: auto;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.clientreg-tablecon {
  flex-grow: 1;
  background-color: white;
  margin: 0 2em;
  border-radius: 15px 15px 0 0;
  overflow: auto;
  position: relative;
  animation: scroll-up 0.2s forwards;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.clientreg-table {
  width: 100%;
  border-collapse: collapse;
}

.clientreg-thead th {
  padding: 1em;
  font-weight: 500;
  font-size: medium;
  background-color: #ffffff;
  color: #777777;
  position: sticky;
  top: 0;
  z-index: 11;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
  vertical-align: middle;
}

.clientreg-tbody tr {
  border-bottom: 1px solid #d2d2d2;
  font-size: medium;
  color: #000000;
  transition: background-color 0.3s;
}

.clientreg-tbody tr:hover {
  background-color: #f9f9f9;
}

.clientreg-tbody td {
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

.clientreg-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  text-transform: uppercase;
  margin: auto;
  vertical-align: middle;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.clientregviewbtn {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

.clientregviewbtn:hover {
  background-color: #eaeaea;
}

@media (max-width: 1100px) {
  .clientreg-container {
    width: 100vw;
  }

  .clientreg-tablecon {
    margin: 0 0.5em;
  }

  .clientreg-thead th {
    font-size: 0.9rem;
  }

  .clientreg-tbody td {
    font-size: 0.9rem;
    padding: 0.5em;
  }

  .clientreg-tbody td:last-child,
  .clientreg-thead th:last-child {
    position: sticky;
    right: 0;
    background-color: rgba(253, 253, 253, 0.95);
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.1);
  }
}
