@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Outfit", system-ui;
}

/* =============================Running-Page============================== */

/* .pg{
    display: flex;
    width: 100vw;
    .right{
        width: calc(100vw - 288px);
    background-color: #f2f3f7;
    user-select: none;

   }
   
} */

/* ============================Side-bar=================================== */
.sidebar {
  height: 100vh !important;
  width: 260px;
  background: var(--blue);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .Nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    header {
      margin-top: 1em;
      font-size: smaller;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4em;

      img {
        width: 30px;
      }
    }

    .sideContent {
      padding-top: 2em;
      margin-left: -40px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1em;

        li {
          display: flex;
          align-items: center;
          gap: 1em;
          list-style: none;

          a {
            font-weight: 300;
            font-size: 1.25em;
            text-decoration: none;
            color: white;
          }

          .side {
            width: 10px;
            height: 55px;
            background-color: transparent;
            border-radius: 0px 15px 15px 0px;
          }

          .ln {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 1em;
            color: #ffffff;
            padding: 0.5em 2em;
            border-radius: 7px;
            cursor: pointer;
            width: 100%;
            font-size: medium;
          }
        }

        li.active {
          .side {
            background-color: #ffffff;
          }

          .ln {
            background-color: #ffffff;
            color: #0b0b45;
          }
        }

        li:hover {
          background-color: transparent;
          cursor: pointer;
          transition: background-color 0.5s ease, border 0.3s ease;

          .side {
            width: 10px;
            height: 55px;
            background-color: #ffffff;
            border-radius: 0px 15px 15px 0px;
          }

          .ln {
            background-color: #ffffff;
            color: #0b0b45;
          }
        }
      }
    }
  }

  .Logout {
    padding-bottom: 2em;

    ul {
      li {
        display: flex;
        gap: 1em;
        list-style: none;
        padding-bottom: 1em;
        font-weight: 300;
        font-size: medium;
        cursor: pointer;
        margin-right: 1.5em;

        .ln {
          background-color: transparent;
          color: white;
        }
      }
    }
  }
}

.navbottom {
  display: none;
}

/* ---------------------Res---------------- */
@media (max-width: 1100px) {
  .sidebar {
    display: none;
  }

  .navbottom {
    position: fixed;
    padding: 1em;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7em;
    gap: 1em;
    z-index: 11111;
  }

  .navbtmicon {
    width: 1.7em;
    aspect-ratio: 1/1;
    padding-bottom: 0;
    font-size: x-large;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 50px;
  }

  .activeb {
    background-color: #ffffff3b;
    color: #ffffff;
  }
}

/* ==============================TopNav=========================== */

.top-Nav {
  width: calc(100vw - 260px);
  position: fixed;
  right: 0;
  top: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.7em;
  gap: 1em;
  z-index: 0;

  .backbtn {
    width: 2em;
    border-radius: 50px;
  }

  .search {
    width: 400px;
    background-color: #f5f6fa;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    img {
      width: 20px;
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
    }

    /* } */
  }

  .profile {
    margin-left: auto;
    color: black;
    display: flex;
    align-items: center;
    gap: 1em;
  }
}

.searchsuggestioncon {
  position: absolute;
  top: 68px;
  background: rgba(0, 0, 0, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  min-width: 400px;
  margin: 0 2.7em;
  border-radius: 10px;
  padding: 0.5em 0;
}

.searchsuggestioncon ul {
  list-style: none;
}

.searchsuggestioncon ul li {
  font-family: poppins;
  color: #ffffff;
  margin: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
}

.gslink {
  color: #ffffff;
  transition-duration: 0.3s;
}

.gslink:hover {
  color: #dcdcdc;
}
