.register-options-page {
  font-family: "Outfit", serif;
  height: 100vh;
  width: 100%;
  background-color: #0b0b45;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}
.logobar-left {
  margin: 30px 0;
}

.welcome-message h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 18px;
  margin-bottom: 40px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.option-box {
  width: 300px;
  height: 300px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: white;
}

.option-box:hover {
  transform: translateY(-10px);
}

.option-icon {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.option-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.option-box p {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .options-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  .option-box {
    width: 80%;
    height: auto;
  }
  .register-options-page {
    height: auto;
  }
}
